@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  
}

html{
    overflow: auto;
}
body {
  background: radial-gradient(
    circle at -4% -12.9%,
    rgb(74, 98, 110) 0.3%,
    rgb(30, 33, 48) 90.2%
  );
  background-repeat: no-repeat;
  display: flex; /* Use flexbox to align content vertically */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

body::-webkit-scrollbar {
    display: none;
}

@layer utilities {
  .object-contain {
    object-fit: contain;
  }
}

.nav-wrapper {
  position: sticky;
  top: 0;
  z-index: 10;
}

nav {
  background-color: slategray;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}